<div class="wrap-login-v9 offset-top-obj">
	<img src="assets/images/login.png" class="top-img">
	<div class="wrap-interval">
		<div class="brand">
			<img class="parallax-obj parallax-down-obj" src="assets/images/logo.png">
		</div>
		<h6>One Time Password</h6>
		<p style="padding: 0 16px 16px;" class="ion-no-margin ion-text-center"><small>Please enter 6 digit verification code send by SMS on your mobile no {{mobile}}</small></p>
		<div class="main-form">
			<form [formGroup]="otpForm" novalidate class="ion-text-center">
				<ion-row class="otp" class="ion-text-right">
					<ion-col>
						<!-- <span style="background: #ccc; padding: 3px; color: #000;">0:59</span> -->
						<ion-button color="medium" size="small" (click)="resend()">Resend OTP</ion-button>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col size="2">
						<ion-input class="ion-no-padding" type="tel"  maxlength="1" formControlName="one"  tabindex="1" (keyup)="moveFocus(b)" placeholder="-"></ion-input>
					</ion-col>
					<ion-col size="2">
						<ion-input class="ion-no-padding"  type="tel" maxlength="1" formControlName="two" tabindex="2" #b (keyup)="moveFocus(c)" placeholder="-"></ion-input>
					</ion-col>
					<ion-col size="2">
						<ion-input class="ion-no-padding" type="tel" maxlength="1" formControlName="three" tabindex="3" #c (keyup)="moveFocus(d)" placeholder="-"></ion-input>
					</ion-col>
					<ion-col size="2">
						<ion-input class="ion-no-padding" type="tel" maxlength="1" formControlName="four" tabindex="4" #d (keyup)="moveFocus(e)" placeholder="-"></ion-input>
					</ion-col>
					<ion-col size="2">
						<ion-input class="ion-no-padding" type="tel" maxlength="1" formControlName="five"  tabindex="5"#e (keyup)="moveFocus(f)" placeholder="-"></ion-input>
					</ion-col>
					<ion-col size="2">
						<ion-input class="ion-no-padding" type="tel" maxlength="1" formControlName="six"  tabindex="6" #f placeholder="-"></ion-input>
					</ion-col>
				</ion-row>
				<hr />
				<ion-button size="small" [disabled]="!otpForm.valid" (click)="signUp()" fill="solid" color="primary">Submit</ion-button>
			</form>
			<!--  -->
			<p style="margin-top: 0; color: #999;"  >Your verification code : {{otp}}</p>
		</div>
	</div>
</div>