
@keyframes init-ani {
	0% {opacity: 1; transform: translateY(-100vh) translateX(-10vw) translateY(-100vh)}
	100% {opacity: 0.5; transform: translateY(100vh) translateX(10vw) rotate(-45deg)}
}

.wrap-login-v9{
	width: 100%;
	height: 100%;
	.brand{
		img{
			height: 75px;
		}
	}
	.wrap-interval{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		z-index: 99;
		margin-top: -50px;
		.main-form{
			position: relative;
			z-index: 100;
			width: 90%;
			padding: 5%;
			margin-top: 10%;
			background: #f2f2f2;
		}
	}
	.decor{
		position: absolute;
		z-index: 10;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		.main-decor{
			width: 150vw;
			opacity: 0.1;
			img{
				width: 100%;
			}
		}
		.leaf1{
			position: absolute;
			top: 30%;
			height: 20px;
			left: 15%;
			width: 30px;
			border-radius: 0px 50%;
			transform: rotate(95deg);
			animation-name: init-ani;
			animation-duration: 4s;
			animation-iteration-count: infinite;
		}
		.leaf2{
			position: absolute;
			top: 10%;
			height: 30px;
			left: 60%;
			width: 35px;
			border-radius: 0px 50%;
			transform: rotate(15deg);
			animation-name: init-ani;
			animation-duration: 5s;
			animation-iteration-count: infinite;
		}
		.leaf3{
			position: absolute;
			top: 70%;
			height: 90px;
			right: 10%;
			width: 50px;
			border-radius: 0px 50%;
			transform: rotate(75deg);
			animation-name: init-ani;
			animation-duration: 3s;
			animation-iteration-count: infinite;
		}
	}
}
.main-form ion-input{ background: #fff; border-radius: 5px; --min-height: 35px; padding: 5px !important; }
.create{ color: #666; font-size: 14px; }
.create span{ color: #e0c200; }
.top-img{ position: relative; }
.main-form ion-button { --box-shadow: inherit; }
.otp{ margin-bottom: 10px; }
.otp span{ background: #dadada; padding: 3px 4px; color: #999; font-size: 11px; margin-right: 5px; border-radius: 3px; }
.otp ion-button{ font-size: 10px; margin: 0; }
.main-form h6{ margin-bottom: 15px; font-size: 14px; text-transform: uppercase; }
.wrap-interval h6{ margin-bottom:0; font-size: 14px; text-transform: uppercase; }