<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start">
    </ion-back-button>
    <ion-title>
      Order Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content common-parallax [scrollEvents]="true">
  <div class="mapProduct" id="mapProduct"></div>
  <div style="margin-top: 0%;">
    <ion-card class="ion-text-wrap order">
      <ion-row class="call">
        <ion-col size="6" text-left>
          <ion-button size="small" shape="round" (click)="viewPh(userPhone)">
            <ion-icon slot="start" name="call"></ion-icon> Call User
          </ion-button>
        </ion-col>
        <ion-col size="6" text-right>
          <ion-button shape="round" color="success" size="small" (click)="viewMapOn()">
            <ion-icon slot="start" name="navigate"></ion-icon> Direction
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-card-content>
        <ion-row class="address">
          <ion-col size="2">
            <ion-icon name="navigate"></ion-icon>
          </ion-col>
          <ion-col size="10">
            <ion-note>{{'Customer Name: '+userCusName}}</ion-note>
            <p><b>{{userAddressName}}</b><br>
              {{userAddress}}<br>
              Pin- {{userPincode}}</p>
          </ion-col>
        </ion-row>
      </ion-card-content>
      <ion-card-header>
        <ion-card-subtitle>Order Id: {{userOrderNo}} <span>{{userOrderDate}} | {{userOrderTime}}</span></ion-card-subtitle>
        <ion-card-title>{{userOrderDetail}}</ion-card-title>
        <ion-row class="price">
          <ion-col size="4" text-left>
            Total: {{'₹'+userOrderTotal}}<br>
            <small>Tip: ₹20</small>
          </ion-col>
          <ion-col size="8" text-right>
            {{'Payment Mode: '+userPaymentMode}}
          </ion-col>
        </ion-row>
      </ion-card-header>
    </ion-card>
  </div>

</ion-content>

<ion-footer>
  <ion-row class="call">
    <!--<ion-col size="6" text-left>-->
      <!--<ion-button color="tertiary">-->
        <!--<ion-icon slot="start" name="download"></ion-icon> Pick Up-->
      <!--</ion-button>-->
    <!--</ion-col>-->
    <ion-col size="12" text-center>
      <ion-button color="success" expand="full" (click)="viewDelivery()">
        <ion-icon slot="start" name="home"></ion-icon> Delivery
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>