.wrap-section{
  position: relative;
  .text-section{
    position: relative;
  }
}
.mapProduct{ width: 100%; height: 200px; position: fixed; }
.details{ background: #fff; }
.call ion-button{ --box-shadow: inherit; }
.call{ background: #fff; }
.order ion-card-header{ background: #FFF; color: #000; padding: 12px; }
.order ion-card-subtitle span{ float: right; font-size: 10px; }
.order ion-card-subtitle{ color: #000; font-size: 12px; }
.order ion-card-title{ font-size: 13px; font-weight: 400; }
.order{ background: #fafafa; }
.order ion-card-content{ padding: 6px; background: #f0f0f0; }
.address ion-icon{ font-size: 22px; color: #fff; background: #0f7b05; border-radius: 50px; padding: 4px; margin-top: 50%; }
.address p{ font-size: 12px; }
.address p b{ font-size: 14px; font-weight: 500; }
.price ion-col{ font-size: 12px; color: #fff; font-weight: 700; }
.price{ margin-top: 8px; background: #e0c200; padding: 5px; }
ion-footer ion-col{ margin: 0; }




















