<ion-content>
	<div class="wrap-login-v9 offset-top-obj">
		<img src="assets/images/login.png" class="top-img">
		<div class="wrap-interval">
			<div class="brand">
				<img class="parallax-obj parallax-down-obj" src="assets/images/logo.png">
			</div>
			<div class="cate">
				<img src="assets/images/cate.png">
			</div>
			<div class="main-form">
				<form novalidate class="ion-text-center" [formGroup]="loginForm">
					<h5>Delivery App</h5>
					<h6>Login With Your Valid Mobile Number</h6>
					<ion-item lines="none">
						+91 <ion-input style="margin-left: 3px;" type="tel" maxlength="10" formControlName="mobileno" placeholder="**********">
						</ion-input>
					</ion-item>
					<ion-button size="small" color="primary" [disabled]="!loginForm.valid" (click)="signIn()">Login</ion-button>
				</form>
			</div>
		</div>
	</div>
</ion-content>
