<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Past Order History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="mapOrder" id="mapOrder"></div>
    <div class="spinner" *ngIf="!passValues">
        <ion-spinner name="lines"></ion-spinner>
    </div>
    <div *ngIf="passValues">
    <div style="margin-top: 0%;" *ngFor="let order of allOrderlists">

      <ion-card class="ion-text-wrap order">
          <ion-card-header>
              <ion-card-subtitle>Order Id: {{order.OrderNo}} <span> {{order.OrderDate}} | {{order.OrderTime}}</span></ion-card-subtitle>
              <ion-card-title>{{order.Status}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <ion-row class="address">
                  <ion-col size="2">
                      <ion-icon name="navigate"></ion-icon>
                  </ion-col>
                  <ion-col size="10">
                      <p><b>{{order.AddressName}}</b><br>
                          {{order.Address}}<br>
                           {{'Pin- '+order.Pincode}}</p>
                  </ion-col>
              </ion-row>
              <ion-row class="price">
                  <ion-col size="6" text-left>
                      Total: {{'₹'+order.OrderTotal}}<br>
                      <small>Tip: ₹20</small>
                  </ion-col>
                  <ion-col size="6" text-right>
                      {{'Payment Mode: '+order.PaymentMode}}
                  </ion-col>
              </ion-row>
          </ion-card-content>
      </ion-card>
      <ion-infinite-scroll threshold="100px" id="infinite-scroll" *ngIf="hasMoreData" (ionInfinite)="$event.waitFor(doInfinite())">
          <ion-infinite-scroll-content style="min-height: 0px;"
                  loading-spinner="bubbles"
                  loading-text="Loading more data...">
          </ion-infinite-scroll-content>
      </ion-infinite-scroll>
  </div>
        <div *ngIf="allOrderlists.length === 0">
            <img src="/assets/images/past.jpg">
        </div>
    </div>
</ion-content>