.active-item {
    border-left: 8px solid var(--ion-color-primary);
}
.menu img{ width: 35px; height: 35px; display: inline-block; border-radius: 50px; margin-right: 12px; border: 1px solid rgba(255,255,255,0.6); padding: 2px; }
.menu ion-title{ padding-left: 16px; }
.menu p{ display: inline-block; margin: 0; font-size: 14px; }
.menu1{ --background: #1F2024; }
.menu1 ion-list{ background: inherit; padding:0; }
.menu1 ion-list ion-item{ --background: inherit; }
.menu1 ion-list ion-item ion-label{ font-size: 13px; color: #999; }
ion-footer{ --background: #333 !important; }
.menu1 ion-icon{ font-size: 1.4rem; }

