<ion-split-pane>
  <ion-menu contentId="content">
    <ion-header class="menu">
      <ion-toolbar color="primary">
        <ion-title><img src="assets/images/avt8.jpg">
          <p>{{userName}}<br>
            <small>{{'+91 '+phNo}}</small></p>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="menu1">
      <ion-list lines="none">
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath.startsWith(p.url)">
            <ion-icon color="primary" name="{{p.icon}}"></ion-icon>
            <ion-label>
              {{ p.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
    <ion-footer class="menu1">
      <ion-list lines="none">
        <ion-item (click)="logOut()">
          <ion-icon color="primary" name="log-out" style="margin-right: 8px;"></ion-icon>
          <ion-label>
            Log Out
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-footer>

  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>