.more ion-list ion-item{ --min-height: 30px; margin-bottom: 5px; font-size: 10px; border-radius: 3px; }
.more h4{ margin-top: 0; }
.more{ --background: #f0f0f0; }
.more ion-list{ padding:5px 16px 16px 16px; background: inherit; }
.user{ text-align: center; margin-top: 18px; }
.user img{ display: inline-block; border-radius: 50px; width: 100px; height: 100px; border: 3px solid #ccc; padding: 3px; }





