<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="more">

  <div class="user">
    <!--<img src="assets/images/avt8.jpg">-->
    <!--<ion-icon name="image-outline" style="font-size:5rem;" *ngIf="base64Image == null" (click)="openActionSheet()"></ion-icon>-->
    <img *ngIf="base64Image == null" src="{{base64ImageNew}}" (click)="openActionSheet()"/>
    <img *ngIf="base64Image != null" src="{{base64Image}}" (click)="openActionSheet()"/>
  </div>
  <ion-list>
    <form padding [formGroup]="contactForm">

      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input #fullName (change)="elementChanged(fullName)" type="text" formControlName="fullName"
                   [class.invalid]="!contactForm.controls.fullName.valid && (fullNameChanged || submitAttempt)"></ion-input>
      </ion-item>

      <p style="color: #d33939; font-size:10px;" *ngIf="!contactForm.controls.fullName.valid && contactForm.controls.fullName.touched">* Please enter a valid name (least 8 characters)</p>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input #email (change)="elementChanged(email)" type="email" formControlName="email"
                   [class.invalid]="!contactForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
      </ion-item>

      <p style="color: #d33939; font-size:10px;" *ngIf="!contactForm.controls.email.valid && contactForm.controls.email.touched">* Please enter a valid email</p>

      <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-textarea style="--padding-top: 0;" #address (change)="elementChanged(address)" type="text" formControlName="address"
                      [class.invalid]="!contactForm.controls.address.valid && (addressChanged || submitAttempt)"></ion-textarea>
      </ion-item>


      <p style="color: #d33939; font-size:10px;" *ngIf="!contactForm.controls.address.valid && contactForm.controls.address.touched">* Please enter a valid address (least 10 characters)</p>

      <ion-item>
        <ion-label position="floating">Landmark</ion-label>
        <ion-input #landmark (change)="elementChanged(landmark)" type="text" formControlName="landmark"
                   [class.invalid]="!contactForm.controls.landmark.valid && (landmarkChanged || submitAttempt)"></ion-input>
      </ion-item>

      <p style="color: #d33939; font-size:10px;" *ngIf="!contactForm.controls.landmark.valid && contactForm.controls.landmark.touched">* Please enter a valid landmark</p>

      <ion-item>
        <ion-label position="floating">Pin code</ion-label>
        <ion-input #pincode (change)="elementChanged(pincode)" type="number" formControlName="pincode"
                   [class.invalid]="!contactForm.controls.pincode.valid && (pincodeChanged || submitAttempt)"></ion-input>
      </ion-item>

      <p style="color: #d33939; font-size:10px;" *ngIf="!contactForm.controls.pincode.valid && contactForm.controls.pincode.touched">* Please enter a valid 6 digit pin code</p>

      <div padding text-center>
        <ion-button color="primary" expand="block" (click)="profileSave()" [disabled]="!contactForm.valid" block ion-button>Update Profile</ion-button>
      </div>
    </form>
  </ion-list>

</ion-content>

<!--<ion-footer>-->
  <!--<ion-button color="primary" expand="block" (click)="profileSave()" [disabled]="!contactForm.valid" block ion-button>Update Profile</ion-button>-->
<!--</ion-footer>-->