/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.tab-has-label ion-label{ font-size: .6rem; }
ion-tab-bar{ --background: #fff; }
.toolbar-background{ background: #07807E; }
ion-menu-toggle ion-icon{ margin-right: 8px; }
.active-item{ border-left: 4px solid var(--ion-color-primary) !important; }
.alert-radio-label.sc-ion-alert-md{ white-space: normal; font-size: 11px; }
.item.sc-ion-label-md-h, .item .sc-ion-label-md-h{ white-space: normal; font-size: 11px; }
ion-title{ font-size: 13px; padding-left:0; }
.my-custom-modal-css .modal-wrapper {
    height: 62%;
    bottom: 0;
    position: absolute; 
    display: block;  
 }
 .my-custom-modal-cssUp .modal-wrapper {
    height: 42%;
    bottom: 0;
    position: absolute; 
    display: block;  
 }


