<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Dashboard
        </ion-title>
        <ion-label style="font-size: 10px; font-weight: 500;" *ngIf="toggleStatus == 'true'">On Duty</ion-label>
        <ion-label style="font-size: 10px; font-weight: 500;" *ngIf="toggleStatus == 'false'">Off Duty</ion-label>
        <ion-toggle slot="end" color="dark" *ngIf="toggleStatus == 'true'" [checked]="true" (ionChange)="myChange()"></ion-toggle>
        <ion-toggle slot="end" color="dark" *ngIf="toggleStatus == 'false'" [checked]="false" (ionChange)="myChange()"></ion-toggle>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="map" id="map"></div>
    <ion-refresher (ionRefresh)="doRefresh($event);">
        <ion-refresher-content
                pulling-icon="chevron-down-circle-outline"
                pulling-text="Pull to refresh"
                refreshing-spinner="circles"
                refreshing-text="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <div class="spinner" *ngIf="!passValues">
        <ion-spinner name="lines"></ion-spinner>
    </div>
    <div *ngIf="passValues">
    <div style="margin-top: 60%;">
        <ion-card class="ion-text-wrap order" *ngFor="let order of allOrderlists" (click)="orderDetails(order)">
            <ion-card-header>
                <ion-card-subtitle>Order Id: {{order.OrderNo}} <span>{{order.OrderDate}} | {{order.OrderTime}}</span></ion-card-subtitle>
                <ion-card-title>{{order.OrderDetail}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-row class="address">
                    <ion-col size="2">
                        <ion-icon name="navigate"></ion-icon>
                    </ion-col>
                    <ion-col size="10">
                        <p><b>{{order.AddressName}}</b><br>
                            {{order.Address}}<br>
                            {{'Pin- '+order.Pincode}}</p>
                    </ion-col>
                </ion-row>
                <ion-row class="price">
                    <ion-col size="6" text-left>
                        Total: {{'₹'+order.OrderTotal}}
                    </ion-col>
                    <ion-col size="6" text-right>
                        Tip: ₹20
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
        <ion-infinite-scroll threshold="100px" id="infinite-scroll" *ngIf="hasMoreData" (ionInfinite)="$event.waitFor(doInfinite())">
            <ion-infinite-scroll-content style="min-height: 0px;"
                    loading-spinner="bubbles"
                    loading-text="Loading more data...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
        <div *ngIf="allOrderlists.length === 0">
            <div text-center>
                <ion-icon name="information-circle-outline" style="font-size: 50px;padding-top: 200px;color: #E66A25;"></ion-icon>
            </div>
            <div text-center style="font-size: 17px;color: black;">No Data Available</div>
        </div>
    </div>
</ion-content>