.wrap-section{
	position: relative;
	.text-section{
		position: relative;
	}
}
.map{ width: 100%; height: 250px; position: fixed !important; top: 50px; }
.order ion-card-header{ background: #01bb0d; color: #000; padding: 6px; }
.order ion-card-subtitle span{ float: right; font-size: 10px; }
.order ion-card-subtitle{ color: #fff; font-size: 12px; }
.order ion-card-title{ font-size: 13px; font-weight: 600; color: #fff; }
.order{ background: #fafafa; }
.order ion-card-content{ padding: 6px; }
.address ion-icon{ font-size: 22px; color: #fff; background: #0f7b05; border-radius: 50px; padding: 4px; margin-top: 28%; }
.address p{ font-size: 12px; }
.address p b{ font-size: 14px; font-weight: 500; }
.price ion-col{ font-size: 12px; color: #ff304c; font-weight: 700; }
.price{ border-top: 1px solid #e8e8e8; }
.spinner{
	position: absolute;
	top: 50%;
	left: 45%;
}
.spinner ion-spinner{
	width: 50px;
	height: 50px;
}



